@import 'scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

$sans-pro: 'Source Sans Pro', sans-serif;

.center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $sans-pro;  
}

.contenedor {
    @extend .center;
    height: 100vh;
    .card{
        border: 3px solid;
        box-shadow: 1px 2px 8px 4px #d3d3d3d1;
    }
    .card-body{
        @extend .center;
        align-items: stretch;   
    }
    h4{
        font-weight: bold;
    }
}

